/* Author AAyushSingh making from watching youtube */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
    
}
:root{
    --color-primary:#090553;
    --color-primary-dark:#221f8d;
    --color-accent:#413da1;
    --color-card:#fdfdfd;
    --color-input:#f3f2f8;
    --color-text:#000000;
    --color-border:#1f7783;
    --color-placeholder:#434352;
    --color-gradient:linear-gradient(135deg,#0d0d7b,#000012);


    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 15px;
    color: var(--color-text);
    background: linear-gradient(#6112b0,#0d0d7b,#000012);

    

}
.container{
    width: 900px;
    padding: 33px;
    position: relative;
    border-radius: 23px;
    overflow: hidden;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0,0.50);
    background: var(--color-card);
}
.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: var(--color-gradient);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .logowraper{
    display: flex;
    gap: 18px;
    align-items: center;
}
.header .logowraper .logo{
   height: 55px;
   width: 56px;
   display: flex;
   color: #f7f5f5;
   border-radius: 15px;
   align-items: center;
   justify-content: center;
   background:linear-gradient(#8d2cee,#0d0d7b,#0e0e9d);

}
.header .logowraper h1{
    font-size: 1.9rem;
    font-weight: 700;
}
.header .theme-toogle{
    height: 43px;
    width: 43px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    flex-shrink: 0 ;
    color: var(--color-placeholder);
    justify-content: center;
    align-items: center;
    background-color: var(--color-input);
    border: 1px solid var(--color-border);
    transition: all 0.3s ease;
}
.header .theme-toogle:hover{
    color: var(--color-primary);
    transform: translate(-2px);
    box-shadow: 0 4px 6px -1px rgba(0, 0,0,0.5);
}

.main-containt{
    margin: 35px 0 5px;
}
.main-containt .promt-container{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}
.promt-container .promt-input{
    width: 100%;
    resize: vertical;
    line-height: 1.6;
    font-size: 1.05rem;
    min-height: 120px;
    padding: 16px 20px;
    border-radius: 15px;
    color: var(--color-text);
    background: var(--color-input);
    border: 1px solid var(--color-border);
    transition: all 0.3s ease;
}
.promt-container .promt-input::placeholder{
    color: var(--color-accent);
    }
.promt-container .promt-input:focus {
outline:  none;
border-color:var(--color-accent) ;
box-shadow: 0 0 0 4px rgba(139, 92, 246, 0.15);
}

.promt-container .promt-button{
    position: absolute;
    right: 15px;
    bottom: 15px;
    height: 35px;
    width: 35px;
    border: none;
    color: #070000;
    font-size: 0.75rem;
    border-radius: 50%;
    opacity: 0.9;
    background-color: #6464d9;
    transition: all 0.3s ease;
    
} 
.promt-container .promt-button:hover{
    opacity: 1;
    transform: translate(-2px);
    box-shadow: 0 0 0 4px rgba(50, 25, 108, 0.5);
}

.main-containt .promt-action{
    display: grid;
    gap: 10px;
    grid-template-columns: 1.2fr 1fr 1.1fr 1fr;

}
.promt-action .select-wraper{
    position: relative;
}
.promt-action .select-wraper::after{
content: "";
font-weight: 900;
position: absolute;
right: 20px;
top: 50%;
padding-left: 7px;
pointer-events: none;
background-color: var(--color-input);
color: var(--color-placeholder);
transform: translateY(-50%);
}
.promt-action :where(.custom-select,.generate-buto){
    cursor: pointer;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: var(--color-input);
    border: 1px solid var(--color-border);
    transition: all 0.3s ease;
}

.promt-action .custom-select{
    width: 100%;
    height: 100%;
    outline: none;
    appearance: none;
}
.promt-action .custom-select:is(:focus,:hover){
border-color: var(--color-accent);
box-shadow: 0 0 0 4px rgba(21, 10, 48, 0.1);
}
.promt-action .generate-buto {
display: flex;
gap: 12px;
margin-left: auto;
font-weight: 500;
align-items: center;
justify-content: center;
padding: 12px 15px;
border: none;
color: #fff;
background: linear-gradient(#6112b0,#0d0d7b,#000012)
}
.promt-action .generate-buto:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 0 4px rgba(21, 10, 48, 0.1);
}
.main-containt .gallery-grid{
    display: grid;
    gap: 15px;
    margin: 30px;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
}
.gallery-grid .image-card{
    position: relative;
    overflow: hidden;
    aspect-ratio: 1;
    border-radius: 16px;
    background: var(--color-input);
    border: 1px solid var(--color-border); 
}
.gallery-grid .image-card:not(.loading):hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 15px -3px rgb(21, 10, 48);
    
}
.gallery-grid .image-card .loading{

}

.gallery-grid .result-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery-grid .image-card .image-overlay{
position: absolute;
bottom: 0;
left: 0;
right: 0;
padding: 10px;
opacity: 0;
pointer-events: none;
display: flex;
justify-content: flex-end;
background: linear-gradient(transparent rgba(0,0,0,0.8));
transition: all 0.3s ease;
}
.gallery-grid .image-card:hover .image-overlay{
    opacity: 1;
pointer-events: auto;
}

.gallery-grid .image-card .imge-downlod-btn{
    height: 45px;
    width: 45px;
    color: #fff;
    border-radius:50%;
    background-color: rgba(53, 56, 53, 0.597);
    backdrop-filter:blur(5px);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.gallery-grid .image-card .imge-downlod-btn:hover{
    transform: scale(1.2);
    /* transform: translateY(-2px); */
    background-color: rgba(255, 255, 255, 0.749);
    color: #000000;
    box-shadow: 0 0 0 4px rgba(21, 10, 48, 0.1);
}
